<div class="flex flex-col max-w-md p-6 rounded-xl shadow-xl sm:p-10 m-auto dark:bg-neutral-800">
  <div class="mb-8 text-center">
    <h1 class="my-3 text-4xl font-bold">Connexion : </h1>
    <p class="text-sm dark:text-gray-400">Connectez-vous pour accéder à votre compte</p>
  </div>
  <form novalidate="" action="" class="space-y-12" (submit)="bConnexion()" >
    <div class="space-y-4">
      <div *ngIf="emailVerif.invalid && (emailVerif.dirty || emailVerif.touched)"
           class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative text-center">
        <div *ngIf="emailVerif.errors?.['required'] || emailVerif.errors?.['email']"
             class="block sm:inline"
        >
          Un mail valide est requis pour la connexion
        </div>

      </div>

      <div *ngIf="emailVerif.valid && error"
           class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative text-center">
        <div *ngIf="error"
             class="block sm:inline"
        >
          Utilisateur introuvable
        </div>

      </div>

      <div>
        <label for="email" class="block mb-2 text-sm">Adresse email</label>
        <input type="email" name="email" id="email" placeholder="example@email.com"
               class="w-full px-3 py-2 border rounded text-center text-black"
               required email #emailVerif="ngModel"
               [(ngModel)]="email"
               (ngModelChange)="resetError()"
        >

      </div>
    </div>
    <div class="space-y-2">
      <div>
        <input type="submit" *ngIf="emailVerif.valid"
               class="block px-8 py-3 font-semibold text-black rounded-xl bg-color-icon w-11/12 m-auto transition cursor-pointer hover:scale-105"
          value="Se connectez"
        />
      </div>
      <p class="px-6 text-sm text-center dark:text-gray-400">Vous n’avez pas encore de compte ?
        <a rel="noopener noreferrer" routerLink="/signup" class="hover:underline">S'inscrire</a>.
      </p>
    </div>
  </form>
</div>
