<section class="min-h-36">
  <div class="container mx-auto flex flex-col items-center px-4 py-16 text-center md:py-32 md:px-10 lg:px-32 xl:max-w-3xl">
    <h1 class="text-4xl font-bold leadi sm:text-5xl"><span>Des blogs de </span>
      <span class="text-green-400 text-effect"> nouvelle génération !! </span>
    </h1>
    <p class="px-8 mt-8 mb-12 text-lg">Et pas que ça ... 🤫🤫</p>
    <div class="flex flex-wrap justify-center">
      @if (user.isConnected()){
        <a routerLink="/profile/newBlog"  class="px-8 py-3 m-2 text-lg font-semibold rounded bg-color-icon color-color-background transition hover:scale-110">Commencer</a>
      }@else{
        <a routerLink="/signup"  class="px-8 py-3 m-2 text-lg font-semibold rounded bg-color-icon color-color-background transition hover:scale-110">Commencer</a>
      }
      <a routerLink="/blog" class="px-8 py-3 m-2 text-lg border rounded transition hover:scale-110">Voir un exemple</a>
    </div>
  </div>
</section>


